body{
  background-color: hsl(207, 99%, 32%);
}

.to-do-list{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 100px;
}

.h1{
  font-size: 4rem;
}

button{
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5 ease;
}

.add-button{
  background-color: hsl(125, 93%, 35%);
}
.add-button:hover{
  background-color: hsl(125, 93%, 55%);
}
.delete-button{
  background-color: hsl(0, 97%, 35%);
}
.delete-button:hover{
  background-color: hsl(0, 100%, 59%);
}
.move-button{
  background-color: hsl(300, 66%, 38%);
}
.move-button:hover{
  background-color: hsl(298, 100%, 50%);
}

input[type="text"]{
  font-size:1.6rem;
  padding: 10px;
  border: 2px solid hsla(0, 0%, 80%, 0.5);
  border-radius: 5px;
  color: hsla(0, 0%, 0%, 0.5);
}

ol{
  padding: 0;
}

li{
  font-weight: bold;
  font-size: 2rem;
  background-color: hsl(191, 78%, 79%);
  margin-bottom: 10px;
  border: 3px solid hsla(0, 0%, 0%, 0.975);
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.text{
  flex: 1;
}

.delete-button, .move-button{
  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left: 10px;
}